<html>
<head>
    <title>NATS Web UI</title>
</head>
<body>
   {{template "_fragments/account-widget" .}}
    <h1>Welcome to the NATS Web UI</h1>
    {{ template "something" }}
    <h3>fragment</h3>
    {{ template "_fragments/yourmom" "argggggh" }}

   <p>Pie '{{ .Session.pie }}'</p>
</body>

</html>
