<html>
<head>
    <title>NATS Web UI</title>
</head>
<body>
   {{template "fragments/account-widget" .}}
    <h1>Welcome to the NATS Web UI</h1>
    {{ template "something" }}
    <h3>fragment</h3>
    {{ template "fragments/yourmom" "argggggh" }}

    <script src="https://accounts.google.com/gsi/client" async></script>
</body>

</html>
